@tailwind base;
.dot-wave {
  --uib-size: 47px;
  --uib-speed: 1s;
  --uib-color: black;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.17);
  padding-top: calc(var(--uib-size) * 0.34);
}

.dot-wave__dot {
  flex-shrink: 0;
  width: calc(var(--uib-size) * 0.17);
  height: calc(var(--uib-size) * 0.17);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.dot-wave__dot:nth-child(1) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
    infinite;
}

.dot-wave__dot:nth-child(2) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
    infinite;
}

.dot-wave__dot:nth-child(3) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
    infinite;
}

.dot-wave__dot:nth-child(4) {
  animation: jump var(--uib-speed) ease-in-out infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-200%);
  }
}

@tailwind components;
@layer components {
  .navColor {
    @apply bg-slate-50 dark:bg-slate-800 shadow-sm shadow-slate-500/20 dark:shadow-slate-600/50 text-slate-900 dark:text-slate-100;
  }
  .bodyColor {
    @apply bg-slate-50 dark:bg-slate-800 text-slate-900 dark:text-slate-100 transition duration-500;
  }
  .mapColor {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-800 dark:text-slate-100 m-2 country-card-container;
  }
  .mapFooter {
    @apply bg-slate-50  dark:bg-slate-700 text-slate-800 dark:text-slate-100;
  }
  .titleText {
    @apply text-lg font-medium text-slate-800 dark:text-slate-100;
  }
  .buttonColor {
    @apply text-slate-800 dark:text-slate-100 bg-slate-50 dark:bg-slate-700;
  }
  .inputColor {
    @apply text-slate-800 dark:text-slate-100 bg-slate-50 dark:bg-slate-700;
  }
  strong {
    @apply text-slate-800 dark:text-slate-100 text-sm font-semibold;
  }
  .country-card-container:hover {
    @apply cursor-pointer hover:scale-105 transition duration-150 ease-out hover:ease-in;
  }
  .country-card-subtitle {
    @apply text-sm;
  }
  .map-details {
    @apply text-xs tracking-wide;
  }
  .map-span {
    @apply mb-3;
  }
  .map-title {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold;
  }
  .spans {
    @apply flex justify-start items-center gap-2;
  }
  strong {
    @apply text-sm tracking-wide;
  }
  .btn {
    @apply flex justify-start items-center gap-1 text-sm lg:text-xl;
  }
  .formLabel {
    @apply flex justify-around items-center gap-1;
  }
  .label {
    @apply text-sm text-slate-700 dark:text-slate-400;
  }
}
@tailwind utilities;
